<% provide(:title,'Safe IHEP') %>
<div class="jumbotron">
    <center>
    <h1>Jumbotron</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a class="btn btn-primary btn-lg" href="https://login.ihep.ac.cn/oauth2/authorize?response_type=code&redirect_uri=http%3A%2F%2Fsafe.ihep.ac.cn%2Fcallback&client_id=57756&theme=full">Sign in</a></p>
    </center>
</div>

<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-check-circle"></i> Bootstrap 3 Built</h3>
        <p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. Make sure you're up to date with latest Bootstrap documentation!</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-pencil"></i> Ready to Style &amp; Edit</h3>
        <p>You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at <a href="http://bootswatch.com">Bootswatch</a>, or come up with your own using <a href="http://getbootstrap.com/customize/">the Bootstrap customizer</a>!</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h3><i class="fa fa-folder-open"></i> Many Page Options</h3>
        <p>This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.</p>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.section -->
