@import "bootstrap";

body {
  padding-top: 50px;
}

.jumbotron {
  background: no-repeat center center;
  background-repeat: repeat-y;
  background-size: cover;
  background-image: url(image_path('bg.jpg'));
}

footer {
  margin: 50px 0px;
}

